name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/software-installed-on-github-hosted-runners
# GitHub Actions does not support Docker, PostgreSQL server on Windows, macOS :(

jobs:
  ubuntu-latest:
    strategy:
      matrix:
        jdk: [8, 11]
    name: Test, JDK ${{ matrix.jdk }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 50
    - name: 'Set up JDK ${{ matrix.jdk }}'
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'zulu'
    - uses: actions/cache@v3
      name: Cache ./gradle/caches/
      with:
        path: |
          ~/.gradle/caches/
        key: gradle-${{ runner.os }}-caches-${{ hashFiles('build.properties', '**/*.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties') }}
    - name: Build
      uses: eskatos/gradle-command-action@v1
      with:
        gradle-version: wrapper
        arguments: --no-parallel --no-daemon build
