name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/software-installed-on-github-hosted-runners
# GitHub Actions does not support Docker, PostgreSQL server on Windows, macOS :(

jobs:
  ubuntu-latest:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 50
    - name: 'Set up Java'
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: |
          17
          21
        distribution: 'zulu'
    - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      name: Cache ./gradle/caches/
      with:
        path: |
          ~/.gradle/caches/
        key: gradle-${{ runner.os }}-caches-${{ hashFiles('build.properties', '**/*.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties') }}
    - name: Test with Java 17
      uses: eskatos/gradle-command-action@v3
      with:
        gradle-version: wrapper
        arguments: --no-parallel --no-daemon -PtestJdk=17 build
    - name: Test with Java 21
      uses: eskatos/gradle-command-action@v3
      with:
        gradle-version: wrapper
        arguments: --no-parallel --no-daemon -PtestJdk=21 build
